In [1]:
print("DATA SCIENCE TOOLS AND ECOSYSTEMS")

DATA SCIENCE TOOLS AND ECOSYSTEMS

In [2]:
print("In this notebook, Data Science Tools and Ecsystems are summarized.")

In this notebook, Data Science Tools and Ecsystems are summarized.

print("Some of the popular languages that Data Scientists use are:")

**Objectives**

## Course Outline
- Understand the basics of Python
- Learn how to work with data structures
- Explore functions and loops

## Author
monica camacho

In [3]:
language = ['python', 'SQL', 'Julia']
for i, lang in enumerate(language, 1):
    print(f"{i}.{lang}")

1.python
2.SQL
3.Julia

In [4]:
print("Data Science Tools")

Data Science Tools

In [5]:
data = ['Git', 'Github', 'Jupyter Notebooks']
for row in data:
     print(row)

Git
Github
Jupyter Notebooks

|Data Frame Tools|
|----------------|
|Git             |
|Github          |
|Jupyter Notebooks|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

#This a simple arithmetic expression to mutiply then add integers

In [6]:
 (3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335